<%= provide :title, "Sign in" %>
<h1><%= t"signin.title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: signin_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t"views.remember_me" %></span>
      <% end %>
      
      <%= f.submit t"views.signin_link", class: "btn btn-primary" %>
    <% end %>
    <p><%= t"signin.new_user" %> <%= link_to t("signin.new_signup"), "#" %></p>
  </div>
</div>
