<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= t "admin.orders.table.id" %></th>
        <th><%= t "admin.orders.table.total" %></th>
        <th><%= t "admin.orders.table.status" %></th>
        <th><%= t "admin.orders.table.created_at" %></th>
        <th><%= t "admin.orders.table.user_id" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= order.total %></td>
          <% if order.status == true %>
            <td><%= t "admin.orders.payment" %></td>
          <% else %>
            <td><%= t "admin.orders.not_payment" %></td>
          <% end %>
          <td><%= order.created_at %></td>
          <td><%= order.user.name %></td>
          <td>
            <%= link_to t("admin.orders.table.show"), admin_order_path(order),
              class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @orders %>
</div>
