<div class="container-fluid">
  <div class="row">
    <% @order.order_details.each do |order_detail| %>
      <h3><%= t "admin.orders.table.quantilyOrdered" %>
        <%= order_detail.quantilyOrdered %>
      </h3>
      <p> <%= t "admin.orders.table.priceEach" %>
        <%= order_detail.priceEach %>
      </p>
      <p> <%= t "admin.orders.table.name" %>
        <%= order_detail.product.product_name %>
      </p>
      <br>
    <% end %>
  </div>
  <br>
  <%= link_to t("admin.orders.edit.edit"), "#",
    class: "btn btn-primary" %> |
  <%= link_to t("admin.orders.edit.back"), admin_order_path,
    class: "btn btn-primary" %>
</div>
