<%if params[:user_id].present? %>
  <%= render "confirm" %>
<% else %>
  <% if @order_details.size == 0 %>
    <p class="text-center">
      <%= raw t("order.line_empty",
        link: link_to(t("order.go_back"), root_path)) %>
    </p>
  <% else %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <div class="text-right">
          <%= link_to t("order.go_back"), root_path %>
        </div>
      </div>
    </div>
    <% @order_details.each do |order_detail| %>
      <%= render "orders/order_row", product: order_detail.product,
        order_detail: order_detail, show_total: true %>
    <% end %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <div class ="text-right">
          <% if signed_in? %>
            <%= link_to t("order.checkout"), order_path(@current_user, @order),
              method: :put, class: "btn btn-defaull" %>
          <% else %>
            <%= link_to t("order.checkout"), signin_path,
              class: "btn btn-defaull" %>
          <%end%>
        </div>
      </div>
    </div>
<% end %>
<% end %>
