<li id="product-<%= @product.id %>">
  <span class="image-show"><%= link_to image_tag(@product.images),
    products_path %>
  </span></br></br>
  <span class="name">
    <%= @product.product_name %>
  </span></br>
  <span class="description">
    <%= @product.description %>
  </span></br>
  <span class="price">
    <%= @product.price %>
  </span></br>
  <span class="number">
    <%= t("product.quantity") %>
    <%= @product.quantity %>
  </span></br>
</li>
