<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="logo">
    <%= link_to t("views.food"), '#', id: "logo" %>
  </div>
  <div class="main">
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("views.home_link"),       '#' %></li>
      <li><%= link_to t("views.category_link"),   '#' %></li>
      <li><%= link_to t("views.signup_link"),    '#' %></li>
      <li><%= link_to t("views.signin_link"),    '#' %></li>
    </ul>
  </nav>
  </div>
</header>
