<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="logo">
    <%= link_to t("views.food"), root_path, id: "logo" %>
  </div>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("views.home_link"), products_path %></li>
        <% if signed_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to t("admin.categories.title"),
              admin_categories_path %></li>
            <li><%= link_to t("admin.products.title"), "#" %></li>
            <li><%= link_to t("admin.users.title"), "#" %></li>
            <li><%= link_to t("admin.orders.title"), "#" %></li>
            <li><%= link_to t("admin.suggestion.title"), "#" %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "signin.signed_in_header" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("signin.orders"), "#" %></li>
              <li><%= link_to t("signin.profile"), current_user %></li>
              <li><%= link_to t("signin.setting"),
                edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("signout.signout_button"), signout_path,
                  method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("views.signup_link"), signup_path %></li>
          <li><%= link_to t("views.signin_link"), signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
